<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}

            <div class = "box">
                <div class = "tytlebox">
                    <p>結果登録日を選択</p>
                </div>
                <div class = "contentbox">
                    <ul>
                        {%  for key, value in dic.items %}
                        <li><a href = report/{{ key }}/> {{ value }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

{% endblock %}
</html>