<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}

            <div class = "box">
                <div class = "tytlebox">
                    <p>結果登録</p>
                </div>
                <div class = "contentbox">

                            <form action="/attendance/report_date/report/{{date}}/result" methon="post">
                                {% csrf_token %}
                                <div>
                                    <label>一番手</label>
                                    <select name="first" value="">
                                        {% for member in team_member %}
                                        <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "firstwl" value="">
                                        {% for member in winlose %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "firstl" value="">
                                        {% for member in leader %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div>
                                    <label>二番手</label>
                                    <select name="second" value="">
                                        {% for member in team_member %}
                                        <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}}
                                    </select>
                                    <select name = "secondwl" value="">
                                        {% for member in winlose %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "secondl" value="">
                                        {% for member in leader %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label>三番手</label>
                                    <select name="third" value="">
                                        {% for member in team_member %}
                                        <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}}
                                    </select>
                                     <select name = "thirdwl" value="">
                                        {% for member in winlose %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "thirdl" value="">
                                        {% for member in leader %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label>四番手</label>
                                    <select name="fourth" value="">
                                        {% for member in team_member %}
                                        <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}}
                                    </select>
                                     <select name = "fourthwl" value="">
                                        {% for member in winlose %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "fourthl" value="">
                                        {% for member in leader %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label>五番手</label>
                                    <select name="fifth" value="">
                                        {% for member in team_member %}
                                        <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}}
                                    </select>
                                     <select name = "fifthwl" value="">
                                        {% for member in winlose %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name = "fifthl" value="">
                                        {% for member in leader %}
                                         <option value = {{member}}>{{ member }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                 <input type="submit" value="送信">
                            </form>


                </div>
            </div>

{% endblock %}
</html>