
    {% for key, value in dic.items %}
        <table border = "1">
            <tr bgcolor ="#556b2f">
              <th>{{key}}</th>
            </tr>
            <tr bgcolor ="#556b2f">
                <th>一番手</th>
                <th>二番手</th>
                <th>三番手</th>
                <th>四番手</th>
                <th>五番手</th>
                <th>補欠</th>
            </tr>
        {% for x, y in value.items %}
            <tr>
            {% for z in y %}
                <th>{{z}}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </table><br>
    {% endfor %}

    <a href = '/'>Back</a>
