
p{
    vertical-align: middle;
}
/*全体*/
body{
    margin:0;
    font-size: 3vmin;
    height: 200vw;
}

.all{

     background-color:#FEFEFC;
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

/*ここからヘッダー*/
header{
    margin:0;
    background-color: #00072C;
    width:100%;
    height: 4vw;
    border-style: solid;
    border-color: black;
}
.icon{
    background-color: chocolate;
    width:5%;
    height:100%;
    float:left;
}
img.logo {
    max-height: 100%;
    width: auto;

}
.login{
    background-color:#00072C;
    width:10%;
    height:100%;
    float:right;
    text-align:center;
    color:white;
}
/*ここから本文*/
.theme{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-size:contain;
    width:100vw;
    height:auto;
    background-repeat:no-repeat;
    width:100vw;
    height:auto;
    margin-bottom: 10px;
}
img.home{
    width:98vw;
    heigth:auto;
}

/*ここからタブメニューの設定*/
.tabs {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70vw;
  }

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 4vw;
  border-bottom: 3px solid #C03B6E;
  background-color:#14418A;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;


}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #562F4B;
  color: #fff;
}

/*ここからお知らせbox*/
.box{
    width:71vw;
    height:auto;
    backgroundcolor:black;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5vw;
    border-style:solid;
    background-color:#00072C;
    border-radius: 10px;
    margin-bottom:15px;
    box-shadow: 2px 2px 4px;
}
.tytlebox{
    width:69.5vw;
    height:4vw;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    background:linear-gradient(-135deg,darkblue,royalblue);
    color:orange;
    border-color: #FAFAF8;
    border-radius: 10px;
    padding-left:10px;
    font-weight: bold;


}
.contentbox{
    width:69.5vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    background-color:#FEFEFC;
    border-radius: 10px;
    padding-left:10px;



}

footer{
    background-color: #00072C;
    border-style:solid;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    border: 0;
}

.footerbox{
    background-color: #00072C;
    height:auto;
    margin:0;
    margin-left:10px;
    margin-top: 10px;
    color:white;
}

