<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>losleague</title>
        <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>


    <body>
        <div class = "all">

                <header>
                    <div class = "icon" onclick = "location.href='/'">
                        <img src = "{% static 'los/logo.png' %}" class="logo">
                    </div>
                    <div class = "login" onclick = "location.href=' /schedul'">
                        <p>schedule</p>
                    </div>
                    <div class = "login" onclick = "location.href=' /attendance/match_result'">
                        <p>試合結果</p>
                    </div>
                    <div class = "login" onclick = "location.href=' /attendance/match_list'">
                        <p>対戦表</p>
                    </div>
                    <div class = "login" onclick = "location.href='/accounts/login'">
                        <p>login</p>
                    </div>

                </header>


                    {% block content %}
                    {% endblock %}

                                <footer>
                                    <div class = "footerbox" onclick = "location.href = 'https://twitter.com/LOSleague'">
                                        <p>twitter</p>
                                    </div>
                                    <div class = "footerbox" onclick = "location.href = 'https://www.youtube.com/channel/UCF_KqVt-vv20ECl00xB2W5g'">
                                        <p>youtube</p>
                                    </div>
                                </footer>
        </div>

    </body>
