<html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--     テーマ画像-->
            <div class = "theme">
                <img src = "{% static 'los/home.jpg' %}" class="home">
            </div>
<!--タブメニュー。参考url...https://bagelee.com/design/css/create_tabs_using_only_css/-->
            <div class="tabs">
              <input id="all" type="radio" name="tab_item" checked>
              <label class="tab_item" for="all">チーム順位</label>
              <input id="programming" type="radio" name="tab_item">
              <label class="tab_item" for="programming">個人成績上位者</label>
              <input id="design" type="radio" name="tab_item">
              <label class="tab_item" for="design">個人成績上位者</label>
<!--             上位チーム成績-->
                <div class="tab_content" id="all_content">
                 <div class="tab_content_description">
                     <p>トップ5のみ表示</p>
                     <table border="1">
                         <tr>
                             <th>チーム名</th>
                             <th>勝利数</th>
                             <th>勝ち点</th>
                         </tr>

                     {% for key, value in dic1.items %}
                            <tr>
                                {% for x, y in value.items %}
                                <th class="c-txtsp">
                                 {{ y }}
                                </th>
                                {% endfor %}
                            </tr>
                    {% endfor %}

                     </table>
                </div>
              </div>
<!--                個人成績上位者-->
                <div class="tab_content" id="programming_content">
                    <div class="tab_content_description">
                        <p>勝利数トップ5のみ表示</p>
                        <table border="1">
                                 <tr>
                                     <th>名前</th>
                                     <th>勝利数</th>
                                     <th>敗北数</th>
                                 </tr>

                             {% for key, value in dic2.items %}
                                    <tr>
                                        {% for x, y in value.items %}
                                        <th class="c-txtsp">
                                         {{ y }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}

                     </table>

                    </div>
                </div>
<!--                クラス別勝利数-->
                <div class="tab_content" id="design_content">
                <div class="tab_content_description">

                    <table border="1">
                                 <tr>
                                     <th>クラス</th>
                                     <th>勝率</th>
                                     <th>使用数</th>
                                 </tr>

                             {% for key, value in dic3.items %}
                                    <tr>
                                        {% for x, y in value.items %}
                                        <th class="c-txtsp">
                                         {{ y }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}

                     </table>

                    </div>
                     </div>
            </div>

<!--            コンテンツ一単位-->
            {% for key, value in dic4.items %}
                <div class = "box">
                    <div class = "tytlebox">
                        <p>{{key}}</p>
                    </div>
                    <div class = "contentbox">
                        <p>{{value.context}}</p>
                    </div>
                </div>
            {% endfor %}
<!--コンテンツ1単位ここまで-->
{% endblock %}
</html>